// Base
@import "base/variables";
@import "base/icons";
@import "base/fonts";
@import "base/utils";

// Layout
@import "layout/footer";
@import "layout/main-nav";

// Components
@import "components/toggle-fullscreen";
@import "components/kbd";
@import "components/ambiant-light";
@import "components/toggle-ambiant-light";

// Pages
@import "pages/about";
@import "pages/game";
@import "pages/games";
@import "pages/not_found";

html {
  @apply
  bg-gray-900
  overscroll-y-none
  min-h-screen
  ;

  min-height: stretch;
  scroll-behavior: smooth;

  background-image: url('../images/backgrounds/asfalt-dark.png');
}

body {
  min-height: stretch;
}
