html {
  @apply
  bg-gray-900
  overscroll-y-none
  min-h-screen
  ;

  min-height: stretch;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  background-image: url('../../images/backgrounds/asfalt-dark.png');
}

body {
  min-height: stretch;
}
