.page.page_games {
  @apply
    w-screen
    overflow-x-hidden
    snap-y
    snap-mandatory md:snap-proximity
  ;

  & > .content {
    @apply snap-mandatory md:snap-proximity;
  }
}

.page_games main {
  nav.main-nav {
    @apply snap-start;
  }

  nav.main-nav header {
    h1 {
      @apply
        text-white text-center
        text-shadow-md
        text-5xl lg:text-8xl
        p-5
      ;

      font-family: eclairage;
    }
  }

  nav.secondary {
    &.fullscreen .icon-fullscreen-toggle {
      @apply opacity-30 hover:opacity-90;
    }
  }

  article.game {
    @apply
      relative
      h-screen
      w-screen
      bg-no-repeat
      bg-center
      md:bg-fixed
      bg-cover
      snap-start
    ;

    header {
      @apply
        flex
        justify-center
        items-end
        md:items-center
        h-full
      ;

      padding-bottom: env(safe-area-inset-bottom);

      h2 {
        @apply
          drop-shadow-md shadow-black
          text-white text-opacity-95
          text-4xl lg:text-7xl
          text-center
          backdrop-filter backdrop-blur
          p-3 md:p-8
          m-3 md:m-10
          bg-white bg-opacity-25
          rounded-md md:rounded-3xl
          transform md:hover:scale-105
          transform-gpu
          transition-all duration-300
        ;

        font-family: boldfinger;
      }
    }
  }

  footer {
    @apply snap-start;
  }
}
